@white: #fff;
@green: #86BC42;
@navy-blue: #4B5464;
@ct-nb: #6E788D;
@border-color: #8F8F8F;
@color-text: #9CA3AB;
@font-family: 'Open Sans', sans-serif;
@font-family-m: 'Muli', sans-serif;
@16: 16px;
html, body {
  font-family: @font-family;
  font-size: @16;
}
.container {
  max-width: 1147px;
  width: 100%;
  margin: 0 auto;
}
.header {
  .header-top {
    background-color: @navy-blue;
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__left {
      width: 355px;
      display: flex;
      justify-content: space-between;
    }
    &__tel {
      a {
        color: @white;
        text-decoration: none;
        margin-left: 10px;
        font-size: @16 - 2;
      }
    }
    &__email {
      a {
        color: @white;
        text-decoration: none;
        margin-left: 10px;
        font-size: @16 - 2;
      }
    }
    &__logo {
      width: 255px;
      a {
        color: @white;
        font-size: @16 + 4;
        text-decoration: none;
        font-weight: 700;
        span {
          color: @green;
        }
      }
    }
    &__right {
      width: 291px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__login {
      a {
        display: flex;
        align-items: center;
        color: @white;
        text-decoration: none;
        font-size: @16 - 2;
        img {
          padding-right: 15px;
        }
      }
    }
    &__registration {
      background-color: @green;
      padding: 15px 26px 15px 27px;
      a {
        color: @white;
        text-decoration: none;
      }
    }
  }
  .header-menu {
    nav {
      display: flex;
      justify-content: space-between;
      max-width: 1057px;
      width: 100%;
      margin: 0 auto;
      a {
        padding: 8px 0 6px 0;
        text-decoration: none;
        color: @ct-nb;  
      }
      .action-link {
        color: @green;
      }
    }
  }
}
.bg-registration {
  background-image: url('/img/bg-registration.png');
  background-size: border-box;
  //height: 630px; //?
  &__inner {
    position: relative;
    padding: 84px 0;
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 840px;
    width: 100%;
    background: rgba(47, 45, 55, 0.25);
    backdrop-filter: blur(8px);
    border-radius: 5px;
    margin: 0 auto;
  }
  &__h1 {
    text-align: center;
    margin-top: 45px;
    h1 {
      color: @white;
      font-size: @16 + 8;
      font-weight: normal;
      font-family: @font-family-m;
      margin: 0;
      span {
        font-size: @16 * 3 - 4;
      }
    }
  }
  &__form {
    background-color: @white;
    border-radius: 50px;
    margin: 63px 0 48px 0;
  }
  &__fill {
    display: flex;
    width: 570px;
    height: 70px;
    justify-content: space-around;
    align-items: center;
  }
  &__name {
    max-width: 155px;
    input {
      border-radius: 50px;
      width: 100%;
      padding: 12px 0 12px 15px;
      border: 1px solid @border-color;
    }
  }
  &__tel {
    max-width: 220px;
    input {
      border-radius: 50px;
      width: 100%;
      padding: 12px 0 12px 15px;
      border: 1px solid @border-color;
    }
  }
  &__button {
    button {
      border-radius: 50px;
      background-color: @green;
      color: @white;
      padding: 12px 27px;
      border: none;
      text-transform: uppercase;
      font-size: @16 - 2;
    }
  }
  &__advantages {
    display: flex;
    max-width: 570px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 45px;
  }
  &__item {
    position: relative;
    p {
      color: @white;
      font-size: @16 - 2;
    }
  }
  &__abs {
    position: absolute;
    top: -12px;
    left: 10px;
    content: '';
    font-size: @16 + 8;
    color: @white;
    font-family: @font-family-m;
    font-weight: 900;
  }
}
/*section-replace*/
.section-text-inner {
  text-align: center;
  h2 {
    font-size: @16 + 4;
    text-transform: uppercase;
    color: @ct-nb;
    position: relative;
    font-family: @font-family-m;
    &:before {
      position: absolute;
      width: 105px;
      display: block;
      background-color: @ct-nb;
      height: 1px;
      content: '';
      transform: translate(-50%,-50%);
      top: -12px; left: 50%;
    }
  }
  p {
    color: @color-text;
    font-family: @font-family-m;
  }
}
.last-photo {
  margin-top: 55px;
  .section-text-inner {
    padding-bottom: 20px;
  }
  &__button {
    text-align: center;
    button {
      border-radius: 50px;
      color: @white;
      background-color: @green;
      padding: 12px 32px;
      border: none;
      box-shadow: 0px 4px 25px rgba(10, 8, 84, 0.15);
      cursor: pointer;
      margin: 40px auto 50px;
    }
  }
}
.services {
  position: relative;
  .section-abs {
    position: absolute;
    right: 0;
    top: -195px;
    z-index: -1;
  }
  &__inner {
    padding: 35px 0 75px;
    display: flex;
    justify-content: space-between;
  }
  &__text {
    max-width: 656px;
    width: 100%;
    p {
      color: @color-text;
    }
  }
  &__right {
    max-width: 458px;
    text-align: center;
    width: 100%;
    box-shadow: 0px 4px 25px rgba(10, 8, 84, 0.15);
    border-radius: 5px;
  }
  &__h3 {
    h3 {
      color: @ct-nb;
      text-transform: uppercase;
      position: relative;
      margin-top: 37px;
      margin-bottom: 43px;
      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 105px;
        height: 10px;
        background-color: @ct-nb;
        height: 1px;
        transform: translate(-50%,-50%);
        top: 60px; left: 50%;
      }
    }
  }
  &__counter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 48px;
  }
  &__number {
      position: relative;
  }
  &__abs {
    position: absolute;
    content: '';
    display: block;
    transform: translate(-50%,-50%);
    top: 50%; left: 50%;
    color: @green;
  }
  &__link {
    margin-left: 20px;
    a {
      color: @color-text;
    }
  }
}
.tariffs {
  background-image: url('/img/bg-tariff.png');
  background-size: border-box;
  &__inner {
    padding: 48px 68px;
  }
  &__block {
    max-width: 1010px;
    border-radius: 5px;
    backdrop-filter: blur(8px);
    border: 1px solid @green;
    background: rgba(255, 255, 255, 0.94);
    margin: 0 auto;
    padding-top: 28px;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    padding: 0 34px;
  }
  &__left {
    max-width: 370px;
    width: 100%;
  }
  &__input {
    input {
      padding: 12px 0 12px 23px;
      max-width: 347px;
      width: 100%;
      color: @ct-nb;
      border: 1px solid @ct-nb;
      border-radius: 5px;
    }
    h4 {
      font-size: @16 + 2;
      color: @ct-nb;
      margin: 14px 0 8px;
    }
  }
  &__checkbox {
    padding-bottom: 30px;
    h4 {
      font-size: @16 + 2;
      color: @ct-nb;
      margin: 14px 0 10px;
    }
  }
  &__right {
    max-width: 400px;
    width: 100%;
    color: @ct-nb;
    .price {
      color: @ct-nb;
      font-size: @16 + 2;
    }
  }
  &__info {
    display: flex;
    padding-top: 28px;
    padding-bottom: 15px;
    p {  
      padding-left: 22px;
      margin: 0;
      a {
        color: @green;
        text-decoration: none;
      }
    }
    img {
      width: 31px;
      height: 31px;
    }
  }
}
